[2014-06-02 14:31] deathowl opened #3 "Use south for DB migrations"

[2014-06-03 13:13] #3 closed, assigned to deathowl

[2014-10-03 11:26] yuandaxing opened #4 "bug: change user profile"
below code snippet is from user.py
 try:
            profile = request.user.get_profile()
        except UserProfile.DoesNotExist:
            profile = UserProfile()
            profile.user = request.user

the code will always change the current login user profile, but the aucutal user is a new user or some updating user, is it a bug?

[2014-10-06 05:02] #4 closed, assigned to nobody

[2014-11-21 09:34] pepov opened #14 "Handling stucked acknowledged incidents"
Acknowledged incidents can stuck when the resolve notification fails to arrive for some reason. I'm thinking of cleaning up these incidents automatically after some grace time.

[2014-11-24 19:11] bclaymiles opened #16 "A few more details on deployment?"
Hey there!
So, this looks like a cool project - and I'd like to try getting it running. I've followed the Readme.md, and I can get the service up and running locally. But...I'm not a coder. Not at all. So it's not at all clear to me how to get a new configuration set up to run on a public IP. I tried copying the settings_dev.py to settings_prod.py and modifying accordingly, then reloading the DJAN

[2014-11-27 13:04] roidelapluie opened #17 "Schedule.css not found"
I got a lot of 404 on the openduty schedule view.

Where are these files (js and css?) I did not find them in the codebase.
![misconfig](https://cloud.githubusercontent.com/assets/291750/5217261/5413d730-763e-11e4-8d93-a78165abea94.png)

[2014-11-28 08:25] #17 closed, assigned to nobody

[2014-12-05 14:18] gangsta opened #18 "Sending data from icinga to openduty"
When sending data from icinga to openduty (with the pagerduty_icinga.pl script), I keep getting the following error:

05/Dec/2014 14:12:02] "POST /api/create_event HTTP/1.1" 500 91229
[05/Dec/2014 14:12:02] "POST /api/create_event HTTP/1.1" 500 91229

I follow web page pagerduty http://www.pagerduty.com/docs/guides/icinga-integration-guide/

i changed  my $opt_api_base = "http://127.0.0.1:8000/api

[2014-12-05 14:45] gangsta opened #19 "Schedule.css error"
when i do  './manage.py collectstatic'  then copyed stuff from env/  to openduty/
but when i want to create  +New Event in one of Calendares then i recieve 404 errors
![centos](https://cloud.githubusercontent.com/assets/9033514/5317192/d3d52d32-7c94-11e4-906f-e5e3ced03592.png)

so i solved it, when we use './manage.py collectstatic' its copy openduty/static/schedule/img/_.png
but openduty request

[2014-12-05 15:03] #16 closed, assigned to nobody

[2014-12-12 15:37] #18 closed, assigned to nobody

[2014-12-13 14:39] #14 closed, assigned to deathowl

[2014-12-27 23:41] #19 closed, assigned to nobody

[2014-12-29 14:00] pepov opened #21 "Should redirect to the incident page after login"
When I follow the $URL of a notification like this one: "A Service is experiencing a problem: $SERVICE. Handle at: $URL Details: $DETAILS" and I'm logged out before, I get the login screen and get redirected to the main dashboard after successful login.

[2014-12-29 16:39] #21 closed, assigned to nobody

[2015-01-02 01:57] deathowl opened #23 "Increase test coverage"

[2015-01-02 01:58] deathowl opened #24 "Feature: Subscribe to services"
Make a user able to subscribe to a service. Subscribed users get notified immediately after an incident happens.

[2015-01-02 01:59] deathowl opened #25 "Turn off notifications"
Give the user the ability to turn notifications temporarly off for him, or for a whole service. Remove this setting automatically after a given period of time.

[2015-01-03 00:12] deathowl commented on #23
api coverage done.

[2015-01-25 09:36] jeanfrancis opened #27 "integration with opsweekly"
Has any one tried integration with Opsweekly ?

[2015-01-25 11:25] deathowl commented on #27
it won't work yet, but i will make it work. Expect it in  a week.

[2015-01-25 11:26] deathowl commented on #25
added this feature, sdo closing

[2015-01-25 11:26] #25 closed

[2015-03-24 07:33] PAStheLoD opened #28 "Tooltips missing on buttons"
For example the three buttons on each incident on the incidents page is not self-evident.

[2015-03-26 14:00] pepov opened #29 "consul integration"
The current integration method is to use the public api to notify openduty from an external source like nagios. I'm thinking about the reverse for an external source like consul. If openduty would have access to a local consul agent, it could register a watch for a consul service. The watch events would then be posted into a consul specific openduty api entry point. It will miss however soft/hard

[2015-03-26 16:54] deathowl commented on #29
This is generally a good idea, I'd be really happy to see consul check integration.

[2015-03-26 16:55] deathowl commented on #28
Expect the fix in a couple of days.

[2015-03-26 16:56] deathowl commented on #27
This was a bit "forgotten". I'm starting the work needed on the weekend. I already did the research, so it can be easily done.

[2015-05-21 13:42] kozmagabor opened #31 "Support resolve all in incident list"

[2015-05-21 13:44] kozmagabor opened #32 "Fix recuring events"
You know what doesn't work in calendar.

[2015-05-21 13:45] kozmagabor opened #33 "Notification statistics support"

[2015-05-21 13:46] kozmagabor opened #34 "Incident dashboard improvement"
- Service event count
- Service group in main incident page

[2015-07-02 19:08] #31 closed

[2015-07-02 19:08] #32 closed

[2015-07-02 19:08] #33 closed

[2015-07-02 19:08] #34 closed

[2015-07-02 19:08] #28 closed

[2015-07-10 14:01] tzetze opened #36 "New Relic alerting webhook integration"
OpenDuty should be able to receive New Relic Alerts using a webhook receiver.
https://docs.newrelic.com/docs/alerts/alert-policies/examples/creating-webhook-alert-channels

[2015-07-31 15:01] deathowl opened #37 "Use smarter twilio call notifications"
It should read notification message. Because it's basically able to do so.

[2015-08-05 20:54] stauffec opened #39 "Both Demo Site and Fresh Install appears to not contain the root user"
I tried out the demo and I couldn't log in. I then cloned the repo and set it up locally. Everyone succeeded however attempting to login fails in the same way as the demo site. What can I do to troubleshoot this?

[2015-08-07 01:14] deathowl commented on #39
As we migrated from south to djangos own migration mechanism, it seems it broke.
Create your superuser with the following command please.
 ./manage.py createsuperuser

[2015-08-07 01:15] #39 closed

[2015-08-07 02:18] deathowl commented on #37
commits:
05fe5242b75ae5df68ec3a11598a4ea470b27ead and dc7a950b2d4457b5bcd463547e89b39cf53ee106 solve this.

[2015-08-07 02:18] #37 closed

[2015-08-23 10:03] deathowl commented on #36
@tzetze are you willing to do this? Or give me one or two weeks, and it'll land in master. Which one do you prefer?

[2015-09-17 08:20] shakalandy opened #40 "Demo Login does not work"
the demo at openduty.herokuapp.com seems broken to me. Login with root/toor does not work anymore.

[2015-10-05 09:20] Cad commented on #40
Bump!

[2015-11-03 21:56] SamPlacette commented on #40
Bump. Would love to try this out to see if it does what I want.

[2015-11-03 22:46] deathowl commented on #40
I've been pretty busy lately, sorry. Will handle the issue tonight.

[2015-11-04 00:58] SamPlacette commented on #40
I totally understand. I appreciate the work you do as an OSS project maintainer. :)

[2015-11-04 03:24] deathowl commented on #40
Demo login restored. You can log in with root/toor on Heroku

[2015-11-04 03:24] deathowl commented on #40
Please note, that the heroku instance runs with limited functionality (No notifications get delivered, it's just to demo the web interface)

[2015-11-04 03:26] deathowl commented on #40
If you are into docker. i recommend this :  https://github.com/endticket/docker-openduty You just have to add your settings to the container, and you are good to go.

[2015-11-04 03:26] #40 closed

[2015-11-09 20:16] deathowl commented on #27
The Etsy guys merged the support for Openduty too. https://github.com/etsy/opsweekly/pull/56 Closing this one.

[2015-11-09 20:16] #27 closed

[2015-11-09 20:18] deathowl commented on #29
@pepov Any update on this ? Or shall i do this? If so, please let me know.

[2015-11-09 20:19] deathowl commented on #36
I'll do this one this week too.

[2015-11-09 22:45] blysik opened #42 "Failing to create service in heroku-type deployment"
I have it deployed in a Heroku-like system. (Uses Heroku buildpacks, generally behaves like Heroku.) Everything looks good.

However, when I try to save a new Service, I get this error:
[code]

In the Postgres log:
[code]

Any ideas?

[2015-11-09 22:51] blysik commented on #42
Perhaps related:
https://github.com/dcramer/django-uuidfield/issues/46

[2015-11-09 22:57] blysik commented on #42
It feels like openduty is trying to save the Service with an id of '0', but since postgres doesn't think '0' is a proper UUID, it fails?

[2015-11-09 23:02] blysik commented on #42
And related: http://stackoverflow.com/questions/20928439/getting-invalid-input-syntax-for-uuid-when-using-django-uuidfield-as-primar

[2015-11-09 23:37] deathowl commented on #42
Wow, amazing bugreport, looking right into the issue.

[2015-11-10 01:45] deathowl commented on #42
The commit above should fix your issue, could you please confirm, that it did? If so, please close this issue @blysik

[2015-11-10 01:48] deathowl commented on #42
Also, if you use a heroku-like env to run openduty, don't forget to launch your workers also. You could add the required commands to launch celeryd to the procfile

[2015-11-10 09:01] pepov commented on #29
No, we decided to stuck with Nagios in the middle for now, but thanks for asking!

[2015-11-10 09:01] #29 closed

[2015-11-10 17:00] blysik commented on #42
Deploying the fix now.  Here's what I've added to my Procfile for the worker stuff:
[code]
That look fine?

[2015-11-10 17:04] deathowl commented on #42
yeah, totally

[2015-11-10 17:10] blysik commented on #42
Looks like a different error now.  Here's the error from the postgres log side:
[code]

[2015-11-10 19:49] blysik commented on #42
The error page is showing it to be line 90, at services.py.  That service.save()

[2015-11-10 20:55] deathowl commented on #42
Thanks, will check that overnight.

[2015-11-13 13:17] netflash opened #43 "API Documentation wanted."
Hi,
could you please help me a little bit with how to start working with API?
I was striving to use this as an example https://developer.pagerduty.com/documentation/rest/services/list
[code]
but no luck.

I understand that I missing something, just can't understand what :-)

[2015-11-16 16:28] blysik commented on #42
Any other data I can provide to help troubleshoot this?

[2015-11-16 16:53] deathowl commented on #42
Thanks, data provided is enough, i think i'll find the time tomorrow to look into it, sorry for the delay of things, I'm pretty busy at the moment.

[2015-11-16 16:54] deathowl commented on #42
BTW i tested it on Heroku, and for me my patch DID work with postgres without any errors.

[2015-11-16 16:55] blysik commented on #42
No problem at all!  I appreciate you looking at it.

I wonder if it's a versioning issue of my postgres.

[2016-03-07 05:42] mose opened #44 "missing phonenumbers"
heya. After my install manage.py complained about `ImportError: No module named phonenumbers`. I suspect it may be missing in `requirements.txt`.

[2016-03-07 10:10] deathowl commented on #44
I'll check it right away.

[2016-03-08 10:57] ashoksethuraman opened #45 "default login not working."
I installed opeduty application and  database migrate everything. its running perfectly but default login username and password not working. so please help me. how to solve the issue?

Thanks,
ashok

[2016-03-10 16:29] deathowl commented on #45
i'll check it out.

[2016-03-10 16:30] deathowl commented on #45
until then please use the manage.py createsuperuser command

[2016-03-10 16:56] karthicktkm commented on #45
@deathowl  Hi!
Already fixed this issue. And Thanks

[2016-03-12 20:42] deathowl commented on #44
fixed it, pull request coming in in minutes. Thanks for your patience

[2016-03-12 20:43] #45 closed

[2016-03-12 20:46] deathowl commented on #43
Hi! No sadly, you dont miss a thing, Services API is not done yet, but I'll do it.

[2016-03-12 21:10] deathowl commented on #44
merged, pull and test again please, you shouldnt encounter any problems anymore with this, please close the issue if fixed for you as well.

[2016-03-13 01:52] karthicktkm opened #47 "Nagios Configuration"
Hi,
How to configure the openduty in  nogios.
Please sahre the document  I tried long time.
Waiting for my configuration.

[2016-03-13 08:53] deathowl commented on #42
HI! I just got back to this, Is it still actual @blysik ? If yes dont hesitate to ask around

[2016-03-14 05:00] ashoksethuraman commented on #45
i create superuser its working fine now. thanks @deathowl.

[2016-03-14 09:58] deathowl commented on #44
Closing as you confirmed it on gitter

[2016-03-14 09:58] #44 closed

[2016-03-14 15:52] blysik commented on #42
Yes, I just checked, and that error still happens when I try to save a service.

[2016-03-24 11:27] karthicktkm opened #49 "Can't send the mail"
Hi,
I am can't send the mail in Pagerduty. Please help me how to configure the mail setting.

I have configured the mail setting in here method

EMAIL_SETTINGS = {
     'user': "mail@gmail.com",
     'password': "password"
}

If above step right. But send the mail and not error getting me.

[2016-04-19 17:09] sofixa opened #50 "Open Duty HA"
Hello.

Has anyone ever used OpenDuty in a HA, master-master mode?

Thanks

[2016-04-19 17:13] deathowl commented on #50
Hey! I think nobody but it shouldnt be a problem, just use the same DB connection for all the django instances and use any kind of load balancing you like

[2016-05-19 10:11] valouille opened #51 "What does the "Repeat" field stand for ?"
Hello,

I can't figure out the goal of the field "Repeat" in an "escalation-policy". Can you explain what sould I expect when I set this value ?

Thank you !

[2016-06-06 15:12] theshades commented on #43
Any update on this? If need help I may be able to provide some python or perl help.

[2016-06-06 15:39] deathowl commented on #43
Any help is welcome as at the moment I'm a bit short on time :)

[2016-06-06 15:46] sofixa commented on #43
Just FYI, the company i work at is interested in OpenDuty and we've done some dev to make OpenDuty more usable for our use cases(like various template fixes, finer ACLs, more notification methods, etc.). In a few weeks i plan to submit a PR with all our changes(or at least those that aren't too specific to us). That should include some documentation as well(as other people have noticed, the code b

[2016-06-06 20:01] deathowl commented on #43
Good stuff guys, I'm more than glad to welcome your contributions, and do my part in reviewing and merging them if so.

[2016-07-17 10:05] tivvit opened #52 "Demo app is not working"
Readme says: `http://openduty.herokuapp.com , log in with root/toor`
But those credentials are not working.

[2016-07-25 23:21] hernandesbsousa commented on #52
+1

I also just had the same problem

[2016-07-29 19:45] tkrause commented on #52
Me three

[2016-08-10 21:23] tickylum commented on #52
Me 4, no solutions yet?!

[2016-08-11 23:14] hernandesbsousa commented on #52
Is there any way we can help getting this back up?

[2016-08-16 21:02] abraden-about commented on #52
I was going to demo OpenDuty but based on what I see here I will not waste my time.

[2016-08-18 14:15] mbielski commented on #52
Pretty bad when you get a nice article written about a project and can't see the demo because it isn't working. I've been wanting to show this to co-workers for weeks now and feel I can't because the demo is not working. WTH?

[2016-10-07 06:44] jeremybz commented on #52
Bump

[2016-10-14 09:47] pataquets commented on #52
Still no demo :(

[2016-10-14 11:45] pataquets commented on #51
Same here.

[2016-10-17 02:48] dariushazimi commented on #52
still no demo?
What's peopleeeeeeee!??

[2016-10-17 04:25] arunpyasi commented on #52
It looks like people here are sleeping well. :P

[2016-10-21 16:02] pataquets opened #53 "create_event 'details' field should be optional"
Usign the following 'curl':

[code]

Gives:

[code]

If I provide the details field, the incident is created OK.

Conversely, the following:

[code]

returns:

[code]

The API docs at https://v2.developer.pagerduty.com/docs/trigger-events do not flag details field as required. It is making the integration with the [PagerDuty Drupal module](https://www.drupal.org/project/pagerduty) fail, since the

[2016-11-04 19:30] deathowl commented on #52
Fixing it now. Thanks for the patience, have been occupied a lot lately.

[2016-11-04 19:44] deathowl commented on #52
Fixed. Closing

[2016-11-04 19:44] #52 closed

[2016-11-04 20:08] deathowl commented on #51
Go over the list given in the escalation policy x times before giving up on notifiing people about the given incident.

[2016-11-04 20:08] #51 closed

[2016-11-04 20:09] deathowl commented on #43
@sofixa any update on this?

[2016-11-04 20:11] deathowl commented on #50
http://reinout.vanrees.org/weblog/2016/06/22/high-availability-django-cheap.html @sofixa does this answer your question? If yes, or no longer intereted please close the issue. Thanks.

[2016-11-04 20:15] #53 closed

[2016-11-04 20:39] sofixa commented on #43
@deathowl mm kinda.

We have added a lot of stuff(groups, unacknowledge, resolve notifications, some UI stuff(icons, confirmation before deletion), and a few notification methods(HipChat, sms-tools) come to mind, there's more i can't think of now), and we intend to publish everything, but we haven't had the time to properly check, sanitize and document everything so its open sourcable :/ We'll dis

[2016-11-04 20:39] sofixa commented on #50
Yep, you can close, thanks :)

[2016-11-04 20:39] #50 closed

[2016-11-17 17:26] krutaw opened #54 "API create_event fails"
First off, this is likely something that I'm simply missing and I'm going to apologize for that up front.  I've setup a POC server to prove that it functions (you guys rock, seriously.)

In an attempt to perform a post using either CURL, the wrapper script or even the web interface,  I'm consistently getting back the following:
 "POST /api/create_event HTTP/1.1" 403 2

I wasn't 100% certain that t

[2016-11-17 23:01] krutaw commented on #54
Okay, so I finally figured this out and I'm going to leave behind how I actually resolved this on my own for "the next guy". ;)

Here's the exact curl that I used to create an incident in OpenDuty:

curl --insecure -H "Content-type: application/json" -H "Authorization: token thisismysecret" -X POST -d '{"service_key":"b893c504c51c26c720056ed94ec53049b9b9d0a4","event_type":"trigger","description":"

[2016-11-17 23:01] #54 closed

[2016-11-18 05:16] krutaw commented on #37
@deathowl Can you please provide an example of what your twiml output looks like to enable the smarter call notifications and call handling?

[2016-11-19 03:40] krutaw opened #55 "Requirements file needs to be updated"
The "kombu" entry needs to be more specific and define an actual version, otherwise an older version will be installed and thus the OrderedDict version won't be loadable by the manage.py script.  Here's the specific update that I had to make in order to get the manage.py syncdb command to work properly:

kombu==3.0.37

[2016-11-20 00:42] krutaw opened #56 "Missing UI element for Recurring Schedules"
The recurring schedule functionality exists, however, there's no UI elements to inject the necessary values into the database.  I was able to get recurring schedules working by manually injecting values into the openduty.schedule_rule table with values that I was able to glean from this page: https://github.com/schacon/django-schedule/blob/master/schedule/models.py.  It would be nice to be able to

[2016-11-20 00:45] krutaw commented on #49
@karthicktkm  Have you checked your gmail account to see if "less secure apps" access has been enabled?  Does it say that it sent successfully in the celery worker output?

[2016-11-20 00:47] krutaw commented on #47
@karthicktkm Have you attempted the same steps as mentioned in this ticket: https://github.com/ustream/openduty/issues/18 ?  I ask becuase incigna and nagios are virtually the same under the hood and the same methods to setup notifications should function.

[2016-11-22 03:33] krutaw commented on #55
Submitted https://github.com/ustream/openduty/pull/58 to handle this fix.

[2016-11-25 16:10] MrWeeble commented on #55
I opened a PR #57 that fixes this (made it to include any 3.0.x kombu)

[2016-11-29 06:38] krutaw opened #64 "Permissions model implementation"
While there are obviously placeholders for advanced permissions in OpenDuty, there's no way to manage it via the GUI.  Further, it looks like the advanced permissions model has been setup in the database without corresponding hooks in the code to take advantage of the permissions model.

[2016-11-30 06:33] krutaw opened #65 "Un-Acknowledge / Un-Resolve"
Feature idea: There needs to be a way via the GUI to un-resolve or un-acknowledge an event so that it re-triggers.

[2016-11-30 06:34] krutaw commented on #65
I'm going to see if I can figure out how to make this happen.

[2016-12-02 01:45] deathowl commented on #55
Merged #57. Closing.

[2016-12-02 01:45] #55 closed

[2016-12-03 04:28] krutaw opened #66 "Better schedule override"
There should be a better way to temporarily reassign on-call duties from one user to another without editing the recurring events or relying on someone to edit each and every on-call schedule.

[2016-12-03 06:17] krutaw commented on #56
Just as an aside for anyone looking to be able to do what I was trying to do.  If you're trying to create a recurring schedule that happens once every 4 weeks, you would setup an entry in the database under openduty.schedule_occurrence with the following fields:

name: Every 4 weeks
description: Every 4 weeks
frequency: WEEKLY
params: byweekday:0;interval:4

[2016-12-03 22:15] krutaw opened #67 "Recurring schedule parameters not respected"
If additional parameters are entered regarding the rules for schedules, the advanced parameters are not respected when calculating the current on-call.

Example Schedule details:
Starts	Nov. 3, 2016, 2 p.m.
Ends	Nov. 4, 2016, 2 a.m.
Reoccurs	Rule Every 4 weeks params interval:4;

Schedule rule:
Name: Every 4 weeks
Description: Every 4 weeks
Frequency: WEEKLY
Params: interval:4;

While the calendar

[2016-12-05 11:22] dbajal opened #68 "Can't finish syncdb"
Did nothing, just created mysql db, user, started using "getting started" instructions and it fails:
[code]

[2016-12-05 12:30] deathowl commented on #68
let me check

[2016-12-05 15:48] krutaw commented on #68
Are you using MySQL or MariaDB?

[2016-12-05 15:49] dbajal commented on #68
It's mariadb

[2016-12-05 16:05] krutaw commented on #68
That's where the problem lies.  I had similar problems when using MariaDB and ended up chucking it and going back to MySQL via the community repos.  I simply forgot to file a ticket about it while having the problem, but I can confirm it's related to the interactiong with MariaDB.

[2016-12-18 11:12] ucakmakci opened #69 "How to do Zabbix Integration"
How to configure the openduty in zabbix?

https://www.pagerduty.com/docs/guides/zabbix-3-integration-guide/ based on this page, but not work.

My openduty server is not in the same server.

zabbix server(192.168.2.32), openduty server (192.168.2.38). how can I do.

Plesase help me.

[2016-12-19 12:38] sofixa commented on #65
@krutaw I have implemented this, but i haven't yet merged all our modifications to this master, and it will be somewhat complicated.

The unack in itself isn't complicated to add(git tells me Showing 2 changed files with 7 additions and 4 deletions for that commit) on the backend(via API), adding a button doing that in the GUI will probably be a few more lines. I might try to create an MR with thi

[2016-12-19 12:41] sofixa commented on #56
Which part of the configuration are you referring to? I remember it took me some time(i think i had to run some script which came with the library which provided basic recurring rules, like daily, weekly, etc.), but i now have some rules that work.

[2016-12-19 21:05] ucakmakci commented on #69
Hi,
What agent program do we need to set up?

https://www.pagerduty.com/docs/guides/agent-install-guide/ ### We need to set it up

Where do I enter my zabbix server information?

my english is not very well

sorry

please help me

[2016-12-22 05:51] krutaw commented on #56
@sofixa Exactly my point, you had to run some script to make it work.  This should be an element within the UI, and it's not quite there yet.

[2016-12-26 23:07] deathowl commented on #69
Hi. I'm looking at the integrations page.

[2016-12-29 18:05] michaelluich commented on #68
I found it was a permissions issue. I had created the openduty user before the database. all I had to do was grant the user permissions on the DB. I chose to just give them full permissions as this is my initial test.

GRANT ALL ON openduty.* TO 'openduty'@'%';

[2017-01-05 15:14] sushovan23 opened #70 "How to integrate edit of occurrence of event rather than complete event"
Hi,
Could you let me know how to edit a particular occurrence of an event rather than complete event?
I can change the dialog of event details and update url for destroy in that. But I'm not able to figure out best way to do it?

[2017-01-22 21:34] sofixa commented on #68
You can also do the following:

[code]

[2017-01-26 09:53] debelan opened #71 "Twilio integration"
Hi,
I'm looking to integrate openduty with twilio. How can I get it working, I assume that I need to create app in twilio which will look at BASE_URL + "/twilio/%s/%s" and will call the contact who's on-call ?

For me BASE_URL + "/twilio/%s/%s" doesn't exist.

Thanks,
Hristo

[2017-02-10 10:26] Bouchrit commented on #47
u have to use a Virtual Machine first !!
where exactly u want to install nagios ?
do u have a server work with it ?

[2017-02-15 20:37] andr01droth commented on #43
@sofixa do you still plan on publishing your enhancements?

[2017-02-16 21:27] sofixa commented on #43
@andr01droth Yes, but sadly i can't provide an ETA. I'll try to take a look this weekend but can't promise anything.

[2017-02-27 15:07] deathowl commented on #64
This one is in progress, on my private fork, will contribute back once i'm done with it. Sorry for taking so long to respond.

[2017-02-27 15:08] deathowl commented on #65
@sofixa any update on this?

[2017-02-27 15:09] deathowl commented on #68
since @sofixa helped with this one i'm closing this one.

[2017-02-27 15:11] deathowl commented on #71
It's already integrated. What do you need help with?

[2017-03-03 02:23] amosshapira opened #72 "Question: Is there a mobile application?"
We are considering OpenDuty because PagerDuty turns out prohibitively expensive.

One point that'll suck is losing their excellent mobile application.

Is anyone aware of a good alternative? Is the mobile web interface or Slack integration a good enough replacement?

[2017-03-04 01:31] allahbaksh commented on #43
@sofixa Can you please squeeze some time if possible for this.

[2017-03-06 13:16] krutaw commented on #71
@debelan You don't have to create an app in Twilio.  You simply need to configure the options in your settings file.

[2017-03-06 13:18] krutaw commented on #72
@amosshapira Sort of.  You can configure push notifications via PushOver (a paid application that you have to configure.)  You can also make your OpenDuty site internet facing which allows integration via browser on mobile devices.

[2017-03-14 09:47] eroj333 opened #73 "OpenLDAP Integration"
I updated the ldap configuration to refer to the locally installed openldap, under settings_dev.py as I would use the same settings configuration for running the env.

However, I don't see it working. I believe, there should be other configuration, which I couldn't find in the documentation, that would make the app to use ldap instead of db for authentication?

[2017-03-14 10:20] sujen commented on #43
@sofixa If you could share the details/PR/documentation you have worked out so far, that would be helpful.. thaks

[2017-03-23 13:20] vladnosferatu opened #74 "Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-m4sQWU/mercurial/"
i have this error execution "pip install -r requirements.txt"
Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-m4sQWU/mercurial/

how can i fix ?

[2017-03-23 13:29] vladnosferatu commented on #74
yum install python-dev* :)

[2017-03-23 13:29] #74 closed

[2017-03-23 20:08] vladnosferatu opened #75 "cant create event"
doing

get

[2017-03-24 01:30] vladnosferatu commented on #54
we have to create first the service ? :(

[2017-03-24 02:09] krutaw commented on #75
You're missing the authorization token.  Here's an example of my curl command that I use in my DEV environment:

curl --insecure -H "Content-type: application/json" -H "Authorization: token thisismysecret" -X POST -d '{"service_key":"b893c504c51c26c720056ed94ec53049b9b9d0a4","event_type":"trigger","description":"test","incident_key":"1234567","details":"Details here"}' http://192.168.0.92:9080/api

[2017-03-24 02:11] krutaw commented on #70
I could be crazy here, but I would think that would likely require database queries.  Mind you, I will ask this: Why would you want to?  Frankly, I'd rather have my guys have multiple triggered events (some being closed off) where the text has to be updated than trying to edit the individual ones on the fly.  Just leads to bad juju.

[2017-03-24 12:08] vladnosferatu commented on #75
found out yesterday, reading your case :) thanks a lot

can we create a service using api ?

[2017-03-27 17:18] deathowl commented on #75
Not yet, but that feature will come eventually. Check this for continously added features:  github.com/openduty/openduty

[2017-03-30 18:44] krutaw commented on #67
Closing this since my production server is no longer exhibiting the behavior.  I honestly don't know how I fixed this.  If someone runs into this, please feel free to re-open.

[2017-03-30 18:44] #67 closed

[2017-04-27 13:31] krutaw commented on #54
@gabrielfsousa Yes, you have to create the Schedule, Escalation policy, Service and the API Key in order to be able to send via the API.

[2017-05-11 08:08] sh1r0 commented on #68
Hi @deathowl,
I tried to create database from scratch in docker (openduty and database are in different containers), but I got the same error as @dbazhal had. I've tried mysql 5.5/5.6 and mariadb 10.1, and got errors about foreign key on all the three. in addition, I've tried steps provided by @sofixa as well. My script is shown below.
NOTE: openduty docker is from https://github.com/openduty/open

[2017-05-11 16:40] pataquets opened #76 "Demo environment is outdated"
I'm experiencing issue #53 on demo environment.
I suppose that the code is not up-to-date.
TIA.

[2017-05-11 16:58] pataquets opened #77 "Doubt and FYI: Adding Drupal 7 support"
If you maintain any integrations list or just want to take a look.
Check out: https://www.drupal.org/node/2877754

There is a link on the code pointing to openduty.com , but I'm not sure if it is actually affiliated to this project or if it even is based on it. Advice would be appreciated.
TIA.

[2017-05-12 18:53] pataquets commented on #68
Same here. Manually tried with all solutions in the thread, both with MySQL and MariaDB and always getting foreign key errors. In both cases I've manually granted ALL privileges to OD MySQL user, just slightly different error texts:
With MySQL 5.6.x:
[code]

With MariaDB 10.x:
[code]

[2017-05-29 06:18] 1ab1 opened #81 "pip install throwing exception"
pip install -r requirements.txt
`
Exception:
Traceback (most recent call last):
  File "/root/virtualenvs/openduty/local/lib/python2.7/site-packages/pip/basecommand.py", line 122, in main
    status = self.run(options, args)
  File "/root/virtualenvs/openduty/local/lib/python2.7/site-packages/pip/commands/install.py", line 262, in run
    for req in parse_requirements(filename, finder=finder, opti

[2017-06-02 09:57] alvarezbruned commented on #68
It's the same with me.
I can not install it

[2017-06-05 17:30] AlexanderPavlenko commented on #51
Is it actually working?
I cannot find any loop on it: https://github.com/ustream/openduty/search?q=repeat_times

[2017-06-13 15:03] gu3sss opened #85 "Unable to start celery worker "ImportError: No module named models""
Unable to start celery worker. Getting the below error while importing Calendar.

$ celery -A openduty worker -l info
Traceback (most recent call last):
  File "/usr/local/bin/celery", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/site-packages/celery/__main__.py", line 30, in main
    main()
  File "/usr/local/lib/python2.7/site-packages/celery/bin/celery.py", line 81

[2017-06-14 20:01] gu3sss commented on #49
Same with me. Here's what I see from celery,

[2017-06-14 18:12:59,660: WARNING/Worker-1] failed to send mail
[2017-06-14 18:12:59,670: INFO/MainProcess] Task notification.tasks.send_notifications[355455da-9ee0-43ca-b94b-bf7b6a1a6fd7] succeeded in 0.266411105986s: None
[2017-06-14 18:36:58,339: INFO/MainProcess] Received task: notification.tasks.send_notifications[65694aac-b942-4bbc-89e5-67972e41f

[2017-06-19 13:49] #85 closed

[2017-06-19 19:45] gu3sss opened #87 "Email integration for creating Incidents"
Hello Folks, I understand that we can create new incidents in OpenDuty based on api/create_event calls.  I don't see an email integration option like in PagerDuty to create new incidents upon receipt of email to specific email ids. Has anyone managed to integrate this feature in OpenDuty?

[2017-06-27 10:57] krutaw opened #88 "Service retry not happening"
We have the following configuration:

ServiceA:
- Retry: 5  minutes
- Escalate after: 60 minutes

PolicyA:
- Repeat: 10
- Calendar1: CalendarA
- Calendar2: CalendarB

CalendarA:
- OnCall: User1
- FallBack: User2

CalendarB:
- OnCall: User3
- FallBack: User3

User1:
- Phone #: (it's there)
- Method: twilio_call

User2:
- Phone #: (it's there)
- Method: twilio_call

User3:
- Phone #: (it's there)
-

[2017-06-29 18:32] gu3sss commented on #64
Do we have any updates on this?

[2017-07-12 14:17] gu3sss commented on #64
Do we have any updates on this?

[2017-08-01 22:15] AlessioMartorelli opened #89 "Kapacitor/Chronograf integration"
Hi! I was trying to integrate your product with Kapacitor/Chronograf from the TICK stack (InfluxDB).
<img width="1259" alt="screen shot 2017-08-01 at 23 08 57" src="https://user-images.githubusercontent.com/9568357/28849360-9f61ac16-770e-11e7-9f34-e401914d93f4.png">
This is the configuration page, I was wondering what exactly should be set in there.
Following this documentation page seems like I s

[2017-08-09 12:13] AlessioMartorelli commented on #56
I think I'm having the same issue, what are the values you added to the db? I'm trying to make it recurring so that each user is on call every other week.

[2017-08-13 03:13] pataquets commented on #68
@deathowl : Any tips? Anything else needed from us to help diagnose where is the problem?
TIA.

[2017-08-13 14:07] krutaw commented on #56
The way I found the settings was to look through the requirements that actually provided the functionality (django-scheduler.)  Unfortunately, the documentation isn't great, but it's a start.  The way I found it was to search the django-scheduler project for how it set it's rules.  Turns out, it uses python-dateutil to define the recurrence settings.  You can find the documentation here:

http://l

[2017-08-13 14:39] krutaw commented on #87
Funnily enough, I had exactly the same use-case a couple of weeks ago.  Until we see this as a feature in the toolset itself, here's how I accomplished it:

- Create an email account to check for ALL services (single account), I named mine "openduty_pager"
- Create your API Key for the service you want to page
- Create a secondary SMTP address for the "openduty_pager" email account set to the API

[2017-08-14 13:34] gu3sss commented on #87
Thanks for the tip! Appreciate that!

[2017-09-15 07:36] kjetilmjos commented on #64
Really a much needed feature

[2017-09-19 08:42] kjetilmjos opened #90 "Multiprocessing problems"
Hi I'm experiencing problems with the `.apply_asynch` method in the `helper.py` line 20.
If I leave the `.apply_asynch` on no notifications are sent. Have tried to remove asynch by replacing the line:
`send_notifications.apply_async((notification.id,) ,eta=notification.send_at)`
with
`send_notifications(notification.id)`
This works and I'm then able to send notifications.

Problem is then off-cour

[2017-09-19 09:03] hanynowsky commented on #81
Got the same issue here in Debian 8. Something wrong with KOMBI

[2017-09-19 09:10] hanynowsky commented on #81
Maybe changing komb~=3.0 to kombu==3.0 in requirements.txt fixes it.
but again you get another error later related to OpenLDAP = fatal error: lber.h: No such file or directory

[2017-09-19 09:15] kjetilmjos commented on #49
Are you able to send notifications? https://github.com/ustream/openduty/issues/90
Investigating email sending myself at the moment, looks like emails beeing classified as spam is a problem.

[2017-09-19 15:11] kjetilmjos commented on #49
Got email working.
Had to remove port in email.py
line 39 should change to this: `server = smtplib.SMTP(host)`
My config looks like this:
[code]

[2017-09-19 15:26] hanynowsky commented on #75
We are facing the same problem here:
[code]
Any hint on what might be wrong. Everything is setup. Service key, Sekret key, users, service... etc

[2017-09-21 08:42] kjetilmjos commented on #68
I got the same error, but changed the order to this instead:
python manage.py migrate auth
python manage.py migrate
python manage.py syncdb
python manage.py collectstatic
python manage.py runserve

[2017-09-21 08:59] kjetilmjos commented on #75
Have you created an escalation policy? I got the same problem when there was no escalation policy connected to the service

[2017-09-21 09:13] kjetilmjos commented on #75
and also "Authorization: password_from_settings.py"

[2017-09-21 09:15] hanynowsky commented on #75
Everything is setup correctly. Escalation policy is assigned to the service. But no luck. I am clueless.
The Authorization is the password from settings.py. Yes.

[2017-09-21 09:17] kjetilmjos commented on #75
You have used the API key created in the service as service_key ?

[2017-09-21 09:23] hanynowsky commented on #75
Sure.
[](http://hanine.magic.fr/public/openduty.png)

[2017-09-21 09:24] hanynowsky commented on #75
http://hanine.magic.fr/public/openduty.png

[2017-09-21 09:26] kjetilmjos commented on #75
Hmm. This is the curl I'm using and it works.

curl --insecure -H "Content-type: application/json" -H "Authorization: <<secret<<" -X POST -d '{"service_key":"<<apikey<<","event_type":"trigger","description":"test","incident_key":"123425","details":"Details here"}' http://172.16.200.160:8000/api/create_event

[2017-09-21 09:28] hanynowsky commented on #75
Ok I found the cause. Shame on me :(
It was a typo mistake in the service key.
Look at my earlier command:
`curl --insecure -H "Content-type: application/json" -H "Authorization: token mySettingsSecretKey" -X POST -d '{"service_key":" 5b10505a55a41b6fd2664579d5521b6adad8689d","event_type":"trigger","description":"test","incident_key":"1244567","details":"Details here"}' http://127.0.0.1:8000/api/c

[2017-09-21 09:32] kjetilmjos commented on #75
That's good news!
I'm having some problems with notifications. Think it has something with the celery task queue to do. Would be interesting to hear if you encounter the same problem. https://github.com/ustream/openduty/issues/90

[2017-09-21 09:35] hanynowsky commented on #75
The Twilio Notification works fine for me. I receive SMS.
The email notification has an issue. It does not work. The task is executed but after 254 seconds, reports an error.  I am going to check shortly again what error it reports.

[2017-09-21 09:36] hanynowsky commented on #90
The Twilio Notification works fine for me. I receive SMS. Well at least the first time.
The email notification has an issue. It does not work. The task is executed but after 254 seconds, reports an error.  I am going to check shortly again what error it reports.

[2017-09-21 09:45] hanynowsky commented on #90
Well. Sounds there is a strange problem.
`[2017-09-21 09:41:59,617: INFO/MainProcess] Received task: notification.tasks.send_notifications[d7e0b16d-f6f7-4ab1-9849-651249ea7463] eta:[2017-09-21 09:41:55.707664+00:00]
[2017-09-21 09:41:59,630: INFO/MainProcess] Received task: notification.tasks.send_notifications[767dd7cc-6da7-415f-b1a4-75f904772ae4] eta:[2017-09-21 09:42:55.707664+00:00]
[2017-09-2

[2017-09-21 09:49] kjetilmjos commented on #75
So you didn't have to do any code changes to the notification part? What OS are you running on?
This is what I had to do to get email working: https://github.com/ustream/openduty/issues/49

[2017-09-21 09:54] hanynowsky commented on #90
Well notifications seem not working for me when an incident is triggered. They only work when I click on the TEST NOTIFICATIONS in the user page. :(
The error I have now is related to ROCKET  config. I don't know how it should be, since there is no doc for it.
Well for now I did not modify any code yet!

[2017-09-21 10:02] hanynowsky commented on #90
Ok. I confirm that notifications for Twilio SMS are working when an event is triggered.
[2017-09-21 10:01:05,581: INFO/MainProcess] Task notification.tasks.send_notifications[64576a82-1608-400b-a985-dd254449c99a] succeeded in 0.981761767995s: None

[2017-09-21 10:40] hanynowsky commented on #90
I am running on a Debian 8

[2017-09-21 10:43] hanynowsky commented on #90
Fixed for ROCKET first error. Rocket Webhook URl must be set in USer's profile not in settings.py

[2017-09-21 11:11] hanynowsky opened #91 "Rocket notifier, set SSL validation to False"
- Rocket webhook urls are in https format. To be able to send a notification to Rocket, we need to set set SS validation to False. Otherwise a SSL handshake error is thrown and notification is not delivered.
- This is the minor modification:
`import requests
import traceback

class RocketNotifier:
    def notify(self, notification):

        try:
            payload = {
                      "text

[2017-09-21 17:46] pataquets opened #92 "Project/repo maintenance status?"
While checking for news on open issues, I've found no significant activity on the project since quite a long time. I wondered if the project is dead/abandoned, but browsing https://github.com/ustream/openduty/network/members I've found a [openduty/openduty repo](https://github.com/openduty/openduty) with more recent activity.
Has this project moved? Is the above fork maintained/monitored by the au

[2017-09-21 18:54] kjetilmjos commented on #90
Found the "Solution" pretty embarrassing... Turns out celery has to be started seperately. Probably therefore 'celery -A openduty worker -l info' is listed in the Readme file...

[2017-09-21 19:04] kjetilmjos commented on #92
Good post! Have been trying to find out myself recently as we plan to use openduty in production. Love the idea of openduty, but we should try and find one master project from all the forks and get a community up and running again. I'm certain a lot of people have a need for a opensource and free alternative pagerduty and the others.

[2017-09-21 19:15] hanynowsky commented on #90
@kjetilmjos co gratulations.
I thought that was obvious to you. The readme file must be rewritten.

Anyway, have you succeeded in running celery using supervisord as a daemonizer?
I am running openduty django app using supervisor and it s fine, but no way with celery.
FYI, i am not using virtualenv, since debian jessie comes with python 2.7 natively.

[2017-09-21 19:26] kjetilmjos commented on #90
Is that the same as running it in daemon mode using systemd? I found a fork from Oxalide, they have made the pull request here with a range of improvements posted by @sofixa. In their repo there is also a folder showing how the project can be runned as deamon using systemd. Check out the systemd folder at: https://github.com/Oxalide/openduty

[2017-09-21 20:45] hanynowsky commented on #90
Perfect. That is better. Thanks a lot.
For the email, i guess there is another way to use yours by adding a custom notifier.
The default one if for gmail.

[2017-09-22 05:30] kjetilmjos commented on #90
The one I use works with the oxalide fork. They have written a more general email notifier than the original email based one.

[2017-09-22 13:16] hanynowsky commented on #90
Great. Thanks

On Sep 22, 2017 06:30, "Kjetil" <notifications@github.com> wrote:

[2017-09-23 10:47] kjetilmjos commented on #92
Hi I got in touch with @deathowl today regarding the project status. IBM has aquired Ustream and his commit rights have been remove since he doesn't work there anymore.

However there is a new openduty project rewritten in nodejs which should be used https://github.com/openduty/openduty

Everything related to the old Django project use https://github.com/openduty/openduty-old

[2017-09-24 10:04] kjetilmjos commented on #92
New issues and pull requests should be posted here: https://github.com/openduty/openduty-old
A new version of openduty written in nodejs has been started on, and anybody interested can find the project here: https://github.com/openduty/openduty

[2017-10-28 00:39] antgel commented on #92
Shame nobody from the ustream team has responded yet. My question is whether there will be a migration path from the Python to node.js versions...

[2017-11-15 13:39] carxwol commented on #42
It's not happening anymore without django-uuidfield requirement.
UUIDField is integrated into Django 1.8, so i just removed it :
https://docs.djangoproject.com/en/1.8/ref/models/fields/#uuidfield

[2018-01-14 10:43] sysrex commented on #92
@antgel , sorry for being late at the party, we worked hard in the past few months to bring a new updated version for Openduty under nodejs, and also creating a mobile application, we expect in the next couple of months to have a beta release.

[2018-02-01 02:03] jackzampolin commented on #89
Might be easier to get this fixed on the Kapacitor side.

[2018-02-28 10:08] pataquets commented on #92
A few thoughts:
* I share @kjetilmjos first comment, a FLOSS alternative to PD is definitely needed. However, I don't agree with the steps taken later.
* Having an OpenDuty user is OK. Perhaps a org would be better, but not a problem, anyway.
* I appreciate the effort on rewritting a new PD clone, but I think it should not be named OpenDuty. It would confuse new users, and even confuse more curren

[2018-03-14 02:19] krutaw commented on #92
@deathowl, Any chance expanding the folks who can merge/whatnot so that we can breathe a bit of life back into this project?

[2018-03-19 14:29] syntaxerror13 commented on #92
Hi all, sorry for the so long silence, this got a bit under the radar on our end. The Ustream team which is now part of IBM are no longer maintaining this project. We will also review our Github account to see if there are other such projects. Feel free to fork it and maintain it somewhere else, we will leave it accessible here but no new merges or commits will be made.

[2018-03-19 14:31] syntaxerror13 commented on #92
Also please note that the NodeJS version was not created by us (it was started by @deathowl after he left)

[2018-04-18 15:16] SDasman opened #95 "Django Compatibility Errors"
So I just ran the command: `pip install -r requirements.txt` in the virual env and I ran into the following errors:

`django-twilio 0.9.0 has requirement twilio<7,>=6.3.0, but you'll have twilio 4.4.0 which is incompatible.
oauth2client 1.4.11 has requirement rsa==3.1.4, but you'll have rsa 3.4.2 which is incompatible.
django-scheduler 0.7.5 has requirement argparse==1.1, but you'll have argparse

[2018-04-18 20:16] syntaxerror13 commented on #95
Hi, please note this project is not active: https://github.com/ustream/openduty/issues/92#issuecomment-374231734

[2018-04-23 19:54] sysrex commented on #92
@pataquets - https://github.com/openduty/openduty the project has been reinstated, openduty is an org and anyone who whishes can be part of it. @kjetilmjos please let me know if you want to submit PR's . I got caught in some work lately and haven't had time to pursue the JS version (which has been name as you guys suggested, btw thanks) I will however submit some front-end improvements in order to

[2018-04-24 05:42] kjetilmjos commented on #92
Hi, I dont have any pull requests at the moment, decided to use the linkedin Iris project https://github.com/linkedin/iris due to the lack of activity on this one, but I might go back to openduty again now if it's going to be more activity again  :)

[2018-04-24 05:50] kjetilmjos commented on #92
Are the pull requests from this repo added into the new reinstated project @pataquets ?

[2018-04-30 19:41] SDasman commented on #95
I was able to get everything to work. https://github.com/SDasman/openduty
Changed the whole requirements.txt file.

[2018-04-30 19:41] #95 closed

[2018-05-11 14:21] kjleitz opened #97 "Demo site does not allow login"
To replicate:

- go to http://openduty.herokuapp.com (or https://openduty.herokuapp.com)
- try to log in with username: `root`, password: `toor`
- login fails; redirects back to openduty.herokuapp.com/login/ with a `302 Found`

[2018-05-28 09:04] tkoeck commented on #97
Nobody seems to care about that fact.

[2018-05-28 19:10] kjleitz commented on #97
It's too bad there's no active maintenance on this. I wanted to try it out as an alternative to PagerDuty, but if it's derelict then oh well. Seems like there was an optimistic "fork" a little while back, but that doesn't have much attention either.

[2018-08-28 18:28] gaubapravar commented on #68
guys, please help me out. Stuck on this:

    self.build_graph()
  File "/home/openduty/openduty/env/lib/python2.7/site-packages/django/db/migrations/loader.py", line 191, in build_graph
    self.applied_migrations = recorder.applied_migrations()
  File "/home/openduty/openduty/env/lib/python2.7/site-packages/django/db/migrations/recorder.py", line 59, in applied_migrations
    self.ensure_schema(

[2018-10-16 08:59] truekonrads commented on #68
The installation docs should be updated

[2018-10-16 09:13] truekonrads opened #99 "openduty requires Twilio of version >=0af4776a961a5b0fef8052082fb1f4027cff172e"
Hi,

openduty won't run if twilio plugin is not at least greater than 0af4776a961a5b0fef8052082fb1f4027cff172e  commit of tiwlio.

[2018-11-23 14:13] sysrex commented on #99
Openduty is being revived and upgrade here - https://github.com/openduty/openduty

[2018-11-23 14:13] sysrex commented on #97
https://github.com/openduty/openduty

[2018-11-23 14:14] sysrex commented on #92
https://github.com/openduty/openduty

[2018-11-23 14:14] sysrex commented on #91
https://github.com/openduty/openduty

[2018-11-29 10:41] truekonrads commented on #99
Shall I re-open the issue there?

[2018-11-29 10:41] #99 closed

[2018-11-29 10:49] sysrex commented on #99
yes please

[2018-11-29 10:50] sysrex commented on #97
@kjleitz - currently we are upgrading to python 3 and Django 2, with a facelift take a look we would be happy to help.

[2018-11-30 05:20] kjleitz commented on #97
@sysrex Interesting. I made an issue at `openduty/openduty` the same day I made this one, back in May. It was an exact copy of this issue (which is still valid). Now it's gone. Where'd it go? Did the history get nuked...? Where are the rest of the old issues?